{{> nav }}
<h1 class="row justify-content-center">Creador de Productos</h1>
<form action="editproductos" method="post" enctype="multipart/form-data">
    <input placeholder="Ingresar Nombre" name="name" type="text" required>
    <input placeholder="Ingregar Precio" type="number" name="price" required>
    <input placeholder="Ingregar Estado" type="text" name="status" required>
    <input placeholder="Ingresar Stock" min="1" type="number" name="stock" required>
    <input type="file" name="url" accept="image/x-png,image/gif,image/jpeg" required>
    <button type="submit">Crear Producto</button>
</form>

<div class="row justify-content-center">
{{#each Productos}}
<div class="card m-3" style="width: 18rem;">
  <img src="./img/products/{{url}}" class="card-img-top" alt="...">
  <div class="card-body">
      <form action="/editproductos?_method=PUT" method="post"  enctype="multipart/form-data">
        <input type="hidden" name="_id" value={{_id}}>
        <h6>Nombre:</h6>
        <input name="name"  placeholder="{{name}}" type="text">
        <h6>Precio:</h6>
        <input name="price" type="number" placeholder={{price}}>
        <h6>Estado:</h6>
        <input name="status" type="text" placeholder={{status}}>
        <h6>Stock:</h6>
        <input name="stock" type="number" min="1" placeholder={{stock}}>
        <input name="url" type="hidden" value="{{url}}">
         <input type="file" name="imagen" accept="image/x-png,image/gif,image/jpeg">
        <button type="submit">Actualizar</button>
      </form>

      <form action="/editproductos?_method=delete" method="post" >
       <input type="hidden"  name="_id"  value={{_id}}>
        <button type="submit">Borrar</button>
      </form>
  </div>
</div>

{{/each}}
</div>

